@import "bootstrap/scss/functions";
@import "./variables";
@import "bootstrap/scss/bootstrap";
@import "./utilities";

.badge-danger {
  background-color: $danger;
}
.cart-image {
  width: 150px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}
.form-select {
  min-width: 68px;
}